

.pagina-cadastro {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #fff;
    background-image: none;
  

    .secao {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 40%;

        margin: 0 auto;
        margin-bottom: 30px;


        h1 {
            color: #1100ff;
            font: 800 32px 'Poppins';
        }

        h3 {
            font: 400 25px "Poppins";
        }

        input, select {
            border-radius: 100px;
            color: inherit;
        }




        p {
            font: 400 15px "Poppins";

            .botao-entrar {
                color: #2482cf;
                text-decoration: underline;
                transition: all 0.2s ease;

                &:hover {
                    color: #1100ff;

                }
            }
        }

        .botao-cadastrar {
            border-radius: 100px;
            width: 45%;
            background-color: #1100ff;
            transition: all 0.2s ease;


            &:hover {
                background-color: #2482cf;
            }
        }
    }





    
}