

.pagina-cadastro {



    .secao {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;


        h1 {
            color: #1100ff;
            font: 800 32px 'Poppins';
        }

        h3 {
            font: 400 25px "Poppins";
        }

        input {
            border-radius: 100px;
        }

        .botao-cadastrar {
            border-radius: 100px;
            width: 20%;
            background-color: #1100ff;
            transition: all 0.4s ease;


            &:hover {
                background-color: #2482cf;
            }
        }
    }





    
}