

.pagina-inicio {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .cabecalho {
    background-color: #fff;
    padding: 20px 60px;

  }

  .secao {
    background-color: #1100ff;
    padding: 40px 35px;
    border-radius: 8px;
    margin: 10px auto;
    max-width: 1200px;
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 60px;
    box-shadow: -10px 10px 20px rgba(17, 0, 255, 0.5);

    .conteudo-texto {
      flex: 1;
      color: #fff;

      h1 {
        font: 600 42px 'Poppins';
        margin-bottom: 25px;
        line-height: 1.1;
      }

      p {
        font: 400 18px 'Poppins';
        margin-bottom: 30px;
        opacity: 0.9;
        line-height: 1.3;
      }

      .botoes-acao {
        display: flex;
        gap: 25px;
        flex-wrap: wrap;

        .botao {
          padding: 12px 25px;
          border-radius: 50px;
          text-decoration: none;
          font: 500 16px 'Poppins';
          transition: all 0.4s ease;
          border: 2px solid transparent;

          &.botao-cadastro {
            background-color: #fff;
            color: #1100ff;

            &:hover {
              background-color: transparent;
              color: #fff;
              border-color: #fff;
            }
          }

          &.botao-login {
            background-color: transparent;
            color: #fff;
            border: 2px solid #fff;

            &:hover {
              background-color: #fff;
              color: #1100ff;
            }
          }
        }
      }
    }

    .imagem-ilustrativa {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 400px;
        height: auto;
        border-radius: 100px;
        cursor: not-allowed;
      }
    }
  }

  
}
  