
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins';
}

a,a:visited,a:link {
  color: inherit;
  text-decoration: none;
}

.pagina {

  background-image: url('https://img.freepik.com/vetores-premium/fundo-de-cor-azul-simples-com-gradiente-de-cor-com-textura-lisa_768131-988.jpg?semt=ais_hybrid&w=740&q=80');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;


  background-color: #2482cf;
  min-height: 100vh;
  padding-bottom: 1px;

  .cabecalho {
    background-color: #dadada;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    gap: 10px;

    .card-logo img {
      width: 70px;
      height: auto;
      border-radius: 4px;
      transition: transform 0.2s ease;

      &:hover {
    transform: scale(1.05);
  }

    }

    h1 {
      color: #1100ff;
      font: 600 36px 'Poppins';
    }



    .botoes-link {
      margin-left: 560px;
      text-decoration: none;
      gap: 20px;
      padding: 0;
      color: #1100ff;
      list-style: none;

      display: flex;
      gap: 15px;
      
      

      li {


        a {
        text-decoration: none;
        color: #1100ff;
        font: 400 15px 'Poppins';
        padding: 5px 10px;
        border: 1px solid #1100ff;
        border-radius: 10px;
        display: inline-block;
        transition: all 0.3s;

        &:hover {
          background-color: #1100ff;
          color: white;
        }

      }

    }    

      }
  }

  // f7f7f7
  // d2d2d2

  .secao {
    background-color: #f7f7f7;
    padding: 40px;
    box-shadow: 0px 0px 15px 2px #000000;
    border-radius: 8px;
    margin: 50px 60px;
    max-width: 1200px;
    font: 400 22px 'Poppins';

    h1 {
      color: #2b2b2b;
      font: 600 28px 'Poppins';
      margin-bottom: 30px;
    }

    input, select {
      padding: 10px;
      border-style: solid;
      border-color: #e7e7e7;
      border-radius: 3px;
      border-width: 2px;
      color: #002a9c;
      min-width: 400px;
      width: 40%;
      font: 400 22px 'Poppins';
      outline: none;
    }

    button {
      background-color: #0084FF;
      color: #fff;
      padding: 14px 30px;
      border-radius: 3px;
      font: 500 20px 'Poppins';
      outline: none;
      border: none;
      cursor: pointer;
      
      &:hover {
        background-color: #1100ff;
      }
    }
  }

  // 0066CC
  // 

  .logo-link {
  text-decoration: none;
  display: inline-block;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }

  .titulo1 {
    transition: color 0.3s ease;
  }

  &:hover .titulo1 {
    color: #0066CC;
  }
}


}